.container-contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact-item {
  width: 15rem;
  text-align: center;
  margin: 1rem;
}
.contact-item:hover .logo-contact-item {
  transform: rotateY(180deg);
  color: var(--color-rojo);
}
.logo-contact-item {
  font-size: 32px;
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: 0.2s;
}

.social-copy {
  padding: 2rem;
  background-color: var(--color-amarillo);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  color: var(--color-azul-oscuro);
}

.socialmedia a {
  font-size: 24px;
  color: var(--color-blanco);
}
.subtitle-contact {
  color: var(--color-negro-oscuro);
  font-size: 1rem;
  margin-bottom: 10px;
}
.contact-item i {
  color: var(--color-negro-oscuro);
}
.text-contact {
  color: var(--color-negro-claro);
  font-weight: 400;
}
.copyright {
  color: var(--color-blanco);
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .contact-me {
    width: 90%;
  }
}
