<div class="container-contact" id="section-footer">
  <app-titulo-section tituloSection="{{ tituloSection }}"></app-titulo-section>

  <div class="subscribe-container">
    <form class="contact-me">
      <input type="text" class="name-input" placeholder="Name" />
      <input type="text" class="amail-input" placeholder="Email" />
      <input type="text" class="message-input" placeholder="Message" />
      <div class="btn-send">
        <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
    </form>
  </div>
  <div class="contact-items">
    <div class="address contact-item">
      <i class="bx bx-map logo-contact-item"></i>
      <h2 class="subtitle-contact">ADDRESS</h2>
      <p class="text-contact">
        Sgo. del Estero 1816 <br />San Lorenzo - Santa Fe
      </p>
    </div>
    <div class="mail contact-item">
      <i class="bx bx-envelope logo-contact-item"></i>
      <h2 class="subtitle-contact">EMAIL</h2>

      <p class="text-contact">
        rubenm.acosta@gmail.com <br />rubensson@webdev.com
      </p>
    </div>
    <div class="phone contact-item">
      <i class="bx bx-phone logo-contact-item"></i>
      <h2 class="subtitle-contact">PHONE</h2>

      <p class="text-contact">3476-509393</p>
    </div>
  </div>
  <div class="social-copy">
    <div class="socialmedia">
      <a href="https://github.com/Rubensson"
        ><i class="bx bxl-github logo-socialmedia"></i
      ></a>
      <a href="https://www.linkedin.com/"
        ><i class="bx bxl-linkedin logo-socialmedia"></i
      ></a>
      <a href="https://twitter.com/"
        ><i class="bx bxl-twitter logo-socialmedia"></i
      ></a>
      <a href="https://ar.pinterest.com/"
        ><i class="bx bxl-pinterest logo-socialmedia"></i
      ></a>
      <a href="https://www.instagram.com/"
        ><i class="bx bxl-instagram logo-socialmedia"></i
      ></a>
    </div>
    <div class="copyright">
      Rubensson Desarrollo Web. © 2022 <br />
      by @Rubensson
    </div>
  </div>
</div>
