.container-hero {
  height: 100vh;
  background-image: url(/assets/images/edificio2.jpg);
  background-size: cover;
}

.hero-text {
  position: relative;
  top: 25%;
  margin: auto;
  width: 80%;
  text-align: left;
  color: #fff;
  font-family: var(--roboto-font);
}
.hero-text h1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 2rem;
}
.hero-text p {
  background-color: rgba(0, 0, 0, 0.747);
  border-radius: 3px;
  padding: 2rem;
}

@media screen and (max-width: 700px) {
  .container-hero {
    height: 80vh;
  }
}
