<div class="container-load-skill" *ngIf="project">
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="projectName">Titulo de proyecto</label>
          <input
            type="text"
            class="form-control"
            id="projectName"
            name="projectName"
            [(ngModel)]="project.projectName"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Desccripción</label>
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="project.description"
            required
          />
        </div>
        <div class="form-group">
          <label for="project_img">Link de imagen</label>
          <input
            type="text"
            class="form-control"
            id="project_img"
            name="project_img"
            [(ngModel)]="project.project_img"
            required
          />
        </div>
        <button class="btn btn-primary">Actualizar</button>
      </form>
    </div>
  </div>
</div>
