.container-projects {
  height: 100vh;
  border-bottom: solid 1px var(--color-negro-sombra);
}
.container-projects-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border: 1px solid var(--color-negro-borde);
  border-radius: 5px;
  margin: 3rem auto;
  padding: 1rem;
  color: var(--color-negro-claro);
  box-shadow: 2px 2px 4px var(--color-negro-sombra);
}
.container-projects-item img {
  width: 25%;
}
.project-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-item-text h2 {
  color: var(--color-negro-oscuro);
  font-weight: 400;
}
.buttons {
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: flex-start;
  padding: 0;
}
.buttons button i {
  margin-right: 0.5em;
}
.btn-create {
  text-align: center;
  margin: 2rem;
}
.btn-create > button {
  margin: auto;
}

@media screen and (max-width: 800px) {
  .container-projects-item img {
    display: none;
  }
}
