<div class="container-circle_bars">
  <div>
    <circle-progress
      [percent]="85"
      [radius]="60"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [title]="'HTML'"
      [titleColor]="'var(--color-blanco)'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeColor]="'var(--color-amarillo)'"
      [innerStrokeColor]="'var(--color-azul)'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div>
    <circle-progress
      [percent]="85"
      [radius]="60"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [title]="'CSS'"
      [titleColor]="'var(--color-blanco)'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeColor]="'var(--color-amarillo)'"
      [innerStrokeColor]="'var(--color-azul)'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div>
    <circle-progress
      [percent]="85"
      [radius]="60"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [title]="'CSS'"
      [titleColor]="'var(--color-blanco)'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeColor]="'var(--color-amarillo)'"
      [innerStrokeColor]="'var(--color-azul)'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div>
    <circle-progress
      [percent]="85"
      [radius]="60"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [title]="'CSS'"
      [titleColor]="'var(--color-blanco)'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeColor]="'var(--color-amarillo)'"
      [innerStrokeColor]="'var(--color-azul)'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div>
    <circle-progress
      [percent]="85"
      [radius]="60"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [title]="'CSS'"
      [titleColor]="'var(--color-blanco)'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeColor]="'var(--color-amarillo)'"
      [innerStrokeColor]="'var(--color-azul)'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div>
    <circle-progress
      [percent]="85"
      [radius]="60"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [title]="'CSS'"
      [titleColor]="'var(--color-blanco)'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeColor]="'var(--color-amarillo)'"
      [innerStrokeColor]="'var(--color-azul)'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
</div>
