.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}
.login {
  width: 100vw;
  height: 100vh;
  background-color: #1f4690;
  /* visibility: hidden; */
}
