.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

@media (min-width: 1025px) {
}
.login {
  width: 100vw;
  background-color: #1f4690;
}
#logo-ruben {
  width: 90%;
}
