.login {
  height: 100vh;
  display: flex;

  background-color: #1f4690;
}
#logo-ruben {
  width: 60%;
}
.container-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.image {
  width: 50%;
  background-image: url(/assets/images/edificio2.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .image {
    display: none;
  }
  .container-form {
    width: 90%;
  }
}
