.container-skills {
  min-height: 100vh;
  border-bottom: solid 1px var(--color-negro-sombra);
}
.container-skill-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border: 1px solid var(--color-negro-borde);
  box-shadow: 2px 2px 4px var(--color-negro-sombra);
  border-radius: 5px;
  margin: 3rem auto;
  padding: 1rem;
  color: var(--color-negro-claro);
}
.skill-item-text > h2 {
  color: var(--color-negro-oscuro);
  font-weight: 400;
}
.container-skill-item img {
  width: 25%;
  height: 200px;
}
.skill-item-text {
  font-family: var(--barlow-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons button {
  margin-right: 1rem;
}
.buttons button i {
  margin-right: 0.5em;
}
.btn-create {
  text-align: center;
  margin: 2rem;
}
.btn-create > button {
  margin: auto;
}
@media screen and (max-width: 800px) {
  .container-skill-item img {
    display: none;
  }
}
