.container-skills {
  min-height: 100vh;
  border-bottom: solid 1px #1f4690;
}
.container-skill-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border: 1px solid var(--color-amarillo);
  border-radius: 5px;
  margin: 3rem auto;
  padding: 1rem;
  color: var(--color-blanco);
}
.container-skill-item img {
  width: 25%;
  height: 200px;
}
.skill-item-text {
  font-family: var(--barlow-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons {
  width: 100%;
  gap: 1rem;
}
.buttons button i {
  margin-right: 0.5em;
}
.btn-create {
  text-align: center;
  margin: 2rem;
}
.btn-create > button {
  margin: auto;
}
