:root {
  --color-azul: #1f4690;
  --color-azul-oscuro: #182e55;
  --color-amarillo: #e79c1b;
  --color-blanco: #fffcf7;
  --color-rojo: #d64a4a;

  --barlow-font: "barlow", sans-serif;

  --dosis-font: "Dosis", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulo-section {
  margin: auto;
  width: 300px;
  font-family: var(--dosis-font);
  font-size: 1.5rem;
  color: #e8aa42;
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid #e8aa42;
}
.btn {
  /* font-family: var(--dosis-font); */
  margin: 3rem auto;
  text-align: center;
}
